.navi {
    background-color: #E3FF47;
    color: #000000;
    padding: 30px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}   



img {
    margin: 0px;

}

.content {
    background-color: #FFE0D6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 11px;
    font-size: 20px;
    margin: 0px;
}

button{
    background-color: #E3FF47;
    border: none;
}

button:hover{
    background-color: #FFCB47;
}

body{
    background-color:#FFE0D6 ;
    font-family: "Krub", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.kaufen{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    font-size: 50px;
    font-family: "Krub", sans-serif;
  font-weight: 200;
  font-style: normal;
}


.home{
    display: flex;
}

.produkt{
    display: none;
}

.kontakt{
    display: none;
}








